{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
            <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"></script>
        <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <link rel="stylesheet" href="{% static 'css/image.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    </head>
    <body>
        <!-- Navigation-->
<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark " data-sidebarClass="navbar-dark bg-dark">
    <a class="navbar-brand" href="#" style="margin-left: 15px">
        ISTORE
    </a>
    {% if request.user.is_authenticated %}
    <ul class="nav navbar-nav ms-auto" style="margin-right: 135px">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                Welcome, {{ request.user.username }}
            </a>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'authentication:logout' %}">Logout</a>
            <a class="dropdown-item" href="{% url 'authentication:change_password' %}">Change Password</a>
        </li>
    </ul>
    {% else %}
    <ul class="navbar-nav ms-auto" style="margin-right: 15px">
        <li class="nav-item {% if request.resolver_match.url_name == 'authentication:login' %} active {% endif %}">
            <a class="nav-link" href="{% url 'authentication:login' %}">Login</a>
        </li>
        <li class="nav-item {% if request.resolver_match.url_name == 'signup' %} active {% endif %}">
            <a class="nav-link" href="{% url 'authentication:signup' %}">Sign Up</a>
        </li>
    </ul>
    {% endif %}
</nav>
        <!-- Header-->
        <header class="bg-dark py-5" id="bg" style="background-image: url('https://www.eurodns.com/assets/images/blog-images/glasses-laptop-500-2.jpg'); background-size: cover">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder" style="color: black">ISTORE</h1>
                    <p class="lead fw-normal text-black-50 mb-0" style="color: black">i-Store (айСтор) – официальный партнёр компании Apple в Беларуси со статусом Apple Premium Reseller.</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            {% block content %}
            {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-success alert-dismissible fade show" role="alert">
                      <strong>{{ message }}</strong>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                {% endfor %}
            {% endif %}
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for product in products %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <a href='{{ product.get_absolute_url }}'><img class="card-img-top" src="{{ product.image.url }}" alt="" /></a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">
                                        <a>{{ product.title }}</a>
                                    </h5>
                                    <!-- Product price-->
                                    <h6>{{ product.price }} BYN</h6>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ product.get_absolute_url }}">Описание</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endblock content %}
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
